@import url(normalize.min.css);
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
:root {
    --body-ff:'Noto Sans KR', sans-serif;
    --body-fz:1rem;
    --line-height:28px;
    --primary-c :#198ef5;
    --secondary-c :#ddded9;
    --hover-c :#eeeeee;
    --white : #fff;
    --backgroung-c :#553a3a;
    --body-tc:#555555;
    --con-width : 1320px;
    --title-color:#1a1a1a;
}
/*
typopgraphy
*/
body{
    font-family: var(--body-ff);
    font-size: var(--body-fz);
    line-height: var(--line-height);
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--title-ff);
    color: var(--title-color);
}
.main_tt{
    font-size:calc(var(--body-fz)*3.25);
    font-weight: 700;
    line-height: calc(var(--line-height)*2);
}
.sub_tt{
    font-size:calc(var(--body-fz)*2.25);
    font-weight: 400;
}
.slide_tt{
    font-size:calc(var(--body-fz)*1.5);
    font-weight: 700;
    line-height: calc(var(--line-height)*1.33);
}
.content_tt{
    font-size:calc(var(--body-fz)*1.375);
    font-weight: 700;
    text-align: left;
}
.content_sub_tt{
    font-size:calc(var(--body-fz)*1.125);
    font-weight: 400;
}
.content_small_tt{
    font-size:calc(var(--body-fz)*0.9375);
    font-weight: 300;
}
.content_desc{
    width: 770px;
    margin: 0 auto var(--line-height);
    text-align: center;
}
em{
    color:var(--primary-c);
}
.link{
    color:var(--primary-c);
    text-decoration: underline;
}
.white_bg {
    background: var(--white);
}
.secondary_bg {
    background: var(--secondary-c);
}
.primary_color {
    color: var(--primary-c);
}
.secondary_color {
    color: var(--secondary-c);
}
.f_color {
    color:var(--title-color) ;
}

.btn{
    border-radius:20px;
    display: inline-block;
    font-size: calc(var(--body-fz)*.875);
    vertical-align: bottom;
}
.primary.btn{
    height: 74px;
    line-height: 74px;
    text-transform: uppercase;
    font-family: var(--title-ff);
    font-weight: 400;
    padding: 0 40px;
    border: 1px solid var(--title-color);
    box-sizing: border-box;
    transition:0.5s;
    overflow: hidden;    
}
.primary.btn:hover{
    background-color: var(--hover-c);
}
.secondary.btn{
    height: 32px;
    line-height: 30px; 
    border:1px solid var(--title-color);
    box-sizing: border-box;
    padding: 0 10px;
    color:var(--body-tc);
}
.secondary.btn:hover, .secondary.btn.active{
    background: var(--hover-c);
}
.side.btn{
   
    line-height: 27px; 
    border:1px solid var(--title-color);
    box-sizing: border-box;
    padding: 0 15px;
    color:var(--body-tc);
}
.side.btn:hover, .secondary.btn.active{
    background: var(--hover-c);
}
/*
btn
*/
.sub_wrapper{
    display: flex;
    justify-content: space-between;
}
.sub_wrapper a{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sub_wrapper a:hover span:last-child{
    color: var(--primary-c);
}
.material-symbols-outlined{
    vertical-align: text-top;
}
/*
LAYOUT
*/

.container{
    width: var(--con-width);
    margin:0 auto;
}
.hidden {
    display: none;
}
.con-pd{
    padding: calc(var(--line-height)*1.5) 0;
}
.con-bottom-pd{
    padding-bottom: var(--line-height);
}

/*
HEADER
*/
header{
    position: fixed;
    z-index:1;
    left: 0;
    right: 0;
    padding: 10px 30px;
    transition: 0.3s;
    box-shadow: 3px 0px 3px rgba(0, 0, 0, .3);
    background: #fff;
    z-index: 100;
}
header .headerTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:calc(var(--body-fz)*0.875);
    font-weight: 300;
}
header .headerTop li:hover a{
    color: #1a1a1a;
    text-decoration: underline;
}
header .headerTop .menu_link {
    width: 215px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
   
}
header .headerTop .menu_s {
    width: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
}
header .headerMain nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 55px;
    font-size: 1;
    font-weight: 600;
}
header nav ul{
    display: flex;
    gap:50px;
}


header .headerMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
header .headerMain .hmainRight{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 248px;
    gap: 10px;
    font-size:calc(var(--body-fz)*0.875);
    font-weight: 300;
}
header .headerMain .hmainRight .login:hover span{
    color: var(--primary-c);
}

header .headerMain .login, header .headerMain .search{
    display: flex;
}

header .headerMain .hmainRight .searchWrap{
    border: 1px solid #1a1a1a;
    border-radius: 20px;
    padding: 0px 15px;
    line-height: calc(var(--line-height)*1.214);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}
header .headerMain .hmainRight .searchWrap:hover span{
    color: var(--primary-c);
}

header .logo a{
    width: 200px;
    height: 48px;
    background: url(../images/Logo_2.png) no-repeat;
    display: block;
    text-indent: -9999em;
}
header .header_under {
    display: flex;
    align-items: center;
    font-size:calc(var(--body-fz)*0.9375);
    padding-left: 150px;
    gap: 5px;
}

.search_section{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(40px);
    opacity: 0;
    visibility: hidden;
    padding-top: calc(var(--line-height)*3.5);
}
.search_section .search_logo a{
    width: 200px;
    height: 48px;
    background: url(../images/Logo_2.png) no-repeat;
    display: block;
    text-indent: -9999em;
}
.search_section.active{
    z-index: 101;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s ease-in;

}
.search_section .search_hd{
    display: flex;
    padding-right: 24px;
    padding-left: 40px;
    width: 60%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    background-color: var(--white);
}
.search_section .box_search_ip{
    position: relative;
    padding-right: 120px;
    padding-left: 25px;
    display: flex;
    width: 840px;
    height: 100%;
}
.search_section .input_cell{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid var(--body-tc);
    width: 274px;
}
.search_section .input_cell input{
    width: 100%;
    height: 100%;
    font-size:calc(var(--body-fz)*1.125);
    outline: none;
    border: none;
}
.search_section .btn_box{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

}
.search_section .btn_box span{
    font-size:calc(var(--body-fz)*2);
}


.search_section .search_list{
    position: absolute;
    top: 80px;
    right: -66px;
    left: -240px;
    padding: 15px 84px 0;
    min-height: 389px;
    max-height: 480px;
    background-color: var(--white);
}

.search_section .search_list ul{
    width: 60%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0 auto;
}
.search_section .close_btn{
    width: 59px;
    pointer-events: auto;
}
/*
FOOTER
*/
footer{
    box-shadow: 0px -1px 1px rgba(0, 0, 0, .3);
}
footer .footer_lline ul{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
footer .footer_lline a{
    font-size:calc(var(--body-fz)*0.75);    
}
footer .footer_lline li:hover a{
    text-decoration: underline;
}






