main{
    display: flex;
    padding-top: calc(var(--line-height)*6.428);
}
main .mainCon{
    width: 860px;
    padding-right: 20px;
}
main aside{
    width: 419px;
    border-left: 1px solid #ccc;
    padding-left: 20px;
}

/*-------------------mainCon banner-------------------*/
.banner_slide{
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}
.banner_slide .slide_container{
    width: 100%;
    height: 380px;
    position: relative;
}
.banner_slide .slick-slide img {
    display: block;
    width: 100%;
}

.banner_slide [class^=slide]{
    position: relative;
}
.banner_slide .slide_container h3{
    font-size:calc(var(--body-fz)*0.8125);
    font-weight: 400;
    line-height: calc(var(--line-height)*0.464);
    margin-top: 10px;
} 
.banner_slide .slide_cont{
    position: absolute;
    left: 50px;
    top: 50px;
    opacity: 0;
    transition: 0.3s 0.3s;
}
.banner_slide .slide_1 .slide_cont{
    text-align: center;
}
.banner_slide .slide_3 .slide_cont h2{
    color: var(--white) !important;
    white-space: inherit;
    width: 60%;
}
.banner_slide .slide_5 .slide_cont h2{
    white-space: inherit;
    width: 55%;
}
.banner_slide .slick-slide.slick-active .slide_cont {
    opacity: 1;
}
.banner_slide .controls a{
    font-size: 60px;
    color: var(--body-tc);
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);

}
.banner_slide .controls .prev{
    margin-left: -419px;
}
.banner_slide .controls .next{
    margin-left: 416px;
}
.banner_slide .paging{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;right: 0;bottom: 0;
}
.banner_slide .paging .pager_num{
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 5px;
}


/*-------------------card_slide-------------------*/
.card_slide .card_slide_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.card_slide .cardList{
    width: 876px;
    height: 220px;
    overflow: hidden;
    margin-top: 28px;
}
.card_slide .card_cont{
    width: 95%;
    margin: 0 auto;
    position: relative;
    padding-top: 28px;
    padding-bottom: 25px;
}
.card_slide .card_info_btn a{
    text-transform: uppercase;
    margin-right: 30px;
}
.card_slide .card_info_btn a:hover{
    color: var(--primary-c);
}
.card_slide .card_info_btn a:nth-child(4){
    margin: none;
}
.card_slide .finder{
    display: flex;
}
.card_slide .finder a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card_slide .finder a:hover span:last-child{
    color: var(--primary-c);
}
.card_slide .finder a:first-child{
    margin-right: 20px;
}
.card_slide .slick-track{
    display: flex;
    gap: 50px;
}
.card_slide .card_tap{
    transition: 0.3s;
}
.card_slide .card_tap:hover img{
    transform:translateY(-10px);
}
.card_slide .card_tap_wrapper img{
    width: 106px;
    height: 169px;

}
.card_tap_wrapper .slick-list{ 
    padding-top: 20px;
}
.card_slide .controls{
    display: none;
}
.card_slide .controls.active{
    display: block;
}
.card_slide .controls a{
    font-size: 50px;
    color: var(--body-tc);
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
}
.card_slide .controls .prev{
    margin-left: -420px;
}
.card_slide .controls .next{
    margin-left: 426px;
}

/*-------------------benefit-------------------*/

.benefit .sub_wrapper{
    display: flex;
    justify-content: space-between;
    gap: 600px;
}
.benefit .sub_wrapper a{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.benefit .sub_wrapper a:hover span:last-child{
    color: var(--primary-c);
}
.benefit_slide{
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}
.benefit_slide .slide{
    position: relative;
}
.benefit_slide .slide >img{
    width: 100%;
}
.benefit_slide .slide_cont{
    position: absolute;
    top: 40px;
    left: 140px;

}
.benefit_slide .slide_cont h3{
    font-size:calc(var(--body-fz)*1.125);
    font-weight: 700;
}
.benefit_slide .slide_cont p{
    font-size:calc(var(--body-fz)*0.8125);
}
.benefit_slide .controls a{
    font-size: 50px;
    color: var(--body-tc);
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
}
.benefit_slide .controls .prev{
    margin-left: -421px;
}
.benefit_slide .controls .next{
    margin-left: 419px;
}
.benefit_slide .paging{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;right: 0;bottom: 0;
}
.benefit_slide .paging .pager_num{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
